#container
{
    width: 600px;
    height: 200px;
}

#header
{
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 80px;
    text-align: center;
}

#panel
{
background-color: rgb(226, 39, 39);
width: 125px;
height: 1300px;
float: left;
text-align: center;
}

#body
{
    width: 800px;
    height: 1300px;
    background-color: rgb(15, 221, 60);
    text-align:center
}

h1 {
    margin: 0px;
}

#footer
{
    width: 600px;
    height: 100px;
    float: middle;
    background-color: rgb(116, 114, 114);
    text-align: center;
}
p{
    margin: 0px 0px 10px 0px;
}