#container
{
    width: 600px;
    height: 200px;
    background-color: black;
}

#header
{
    background-color: rgb(9, 163, 17);
    width: 600px;
    height: 80px;
    text-align: center;
}

#panel
{
background-color: rgb(255, 255, 255);
width: 125px;
height: 500px;
float: left;
}

#body
{
    width: 600px;
    height: 500px;
    background-color: seagreen;
}

#footer
{
    width: 600px;
    height: 125px;
    float: middle;
    background-color: violet;
}